<!DOCTYPE html>
<html lang="en" class="text-gray-900 antialiased leading-tight">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>${title}</title>
    <link rel="stylesheet" href="/tailwindcss/dist/tailwind.css">
</head>
    <h1 class="block text-gray-700 text-center bg-gray-400 px-4 py-2">${title}</title></h1>
<body class="min-h-screen bg-gray-100">
    <div class="bg-gray-200 p-4">
        <h2>${frontend}</h2>
    </div>
</body>
</html>